<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-tabs></app-tabs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="parallax" style="background-image: url(' ./assets/images/uber.png')"></div>
        </div>
    </div>

   <!-- <div class="row">
        <div class="col-lg-12">
            <marquee class="GeneratedMarquee" direction="up" scrollamount="3" behavior="scroll">
                <p>
                    What is UberEATS?
                    
                    UberEATS is a food delivery platform powered by Uber. We promote your menu through the UberEATS app, website, and various other channels. When you receive an order, you prep it as normal and we’ll send a delivery partner to pick it up and deliver it, fast.
                    
                    How does it work?
                    
                    A customer opens the UberEATS app, picks an item (or more) from your menu, and places an order
                    You accept the order
                    The customer tracks the order’s progress through the UberEATS app
                    You fulfill the order and hand it off to a delivery partner
                    The delivery partner delivers your order to the customer
                    I don’t see it in the Uber app. What are you talking about?
                    
                    UberEATS is a separate iOS and Android app. You can download it here: iOS / Android
                    
                    Why should I work with with UberEATS?
                    
                    When you work with with us, you can get your food in front of tens of thousands of Uber riders in your city and have it delivered at Uber speed.
                    
                    UberEATS can help your business grow in three major ways:
                    
                    Driving more orders. You can deliver around the clock so you can accept more orders, more often–our top restaurants earn on average over $6,400 per month*
                    Getting your food there fast. Our delivery partners deliver your food to hungry customers fast. On average, our driver partners deliver within 15 minutes (from pickup to dropoff)**
                    Partnering for success. We work with you to improve operations and promote your business to our rider audience
                    Interested in joining our platform? Fill out our interest form today.
                    
                    Who handles the deliveries?
                    
                    We tap into our large network of Uber driver partners to get food from you to your customer as quickly as possible.
                    
                    How far do you deliver?
                    
                    This will vary from city to city and depends on courier coverage and customer location. Once you join our platform, we’ll work with you to define the right delivery area for your restaurant.
                    
                    Is my restaurant a good fit for UberEATS?
                    
                    We work with with restaurants that people in your city love. If you’re a local gem looking to share your food with hungry eaters, please reach out to us today.
                    
                    How much does it cost?
                    
                    We collect a service fee, which is calculated as a percentage of your sales on UberEATS. Have more questions? Fill out the interest form and a UberEATS team member will be happy to answer them for you.
                    
                    How much do I get paid?
                    
                    The revenue restaurants see from UberEATS varies depending on city, customer demand, and cuisine type–but our top restaurants make over $6,400/month, which translates to over $75,000/year*!
                    
                    How quickly can I start accepting orders?
                    
                    This varies depending on the restaurant, but we do our best to have you up and running, accepting UberEATS orders as soon as possible.
                    
                    What other restaurants are featured on the platform?
                    
                    We feature restaurants of all shapes and sizes. Check out a couple of them here.
                    
                    What kind of marketing do we do?
                    
                    We succeed when you do–so we invest in making you shine. Once you launch with us, you can expect to be included in everything from large customer-facing brand campaigns to emails to Uber’s rider base, to snackable social posts.
                    
                    What’s the signup process like?
                    
                    Once you fill out our interest form, a member of the UberEATS team will contact you to discuss your business and make sure we’re a good fit.
                </p>
            </marquee>
        </div>
    </div>-->
</div>