.carousel-caption {
    position: relative;
    left: 0%;
    right: 0%;
    bottom: 0px;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #000;
    text-shadow: none;
}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 0px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}