<nav class="navbar navbar-default" #navigator role="navigation" style="border: none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" #B2BABB style="letter-spacing: 2px;"><strong style="color: black">UBER</strong> <strong style="color: #58D68D">EATS</strong></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="btn btn-md btn-default">ORDER NOW</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>