<div class="container">
<h1 class="well">Add item to your collection</h1>

<div class="col-lg-12 well">
    <div class="row">
        <form (submit)="OnSubmit()">
            <div class="col-sm-12">
                <h3>Add Item<br>
                    <p>By adding the item, you will be able to use it for both Uber and UberEATS.</p>
                </h3>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input [(ngModel)]="order.itemName" name="itemName" type="text" placeholder="Item Name Here..." class="form-control">
                        <!--<small [hidden]="firstName.valid || (firstName.pristine && !f.submitted) || firstName.errors.minlength" class="text-danger">
                            First Name is required (minimum 2 characters).
                         </small>-->
                    </div>
                    <div class="col-sm-6 form-group">
                        <input [(ngModel)]="order.itemPrice" name="itemPrice" type="text" placeholder="Item price Here..." class="form-control">
                        <!--<small [hidden]="lastName.valid || (lastName.pristine && !f.submitted)" class="text-danger">
                            Last Name is required (minimum 2 characters).
                         </small>-->
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-sm-6 form-group">
                      <input type="file" [(ngModel)]="order.fileInput" placeholder="Item picture upload Here" #fileInput placeholder="Upload file..." />
                      <button type="button" (click)="upload()">Upload</button>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input [(ngModel)]="order.description" name="description" type="description" placeholder="Password Here.."  class="form-control">
                        <!--<small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                                Password is required (Between 5-15 characters)
                         </small>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label class="radio-inline"><input type="radio" value="breakFast" name="breakFast" [(ngModel)]="order.breakFast" required>BreakFast</label>
                            <label class="radio-inline"><input type="radio" value="lunch" name="lunch" [(ngModel)]="order.lunch" required>Lunch</label>
                            <label class="radio-inline"><input type="radio" value="supper" name="supper" [(ngModel)]="order.supper" required>Supper</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-md btn-success" value="Add item" style="margin-bottom: 5px">
                    <input type="reset" value="Reset fields" class="btn btn-md btn-success" style="background-color: #85C1E9">
                </div>
            </div>
        </form>
    </div>
</div>
</div>