<div class="container">
    <h1 class="well">Sign Up to Ride
        <br>
        <h5>Safe, reliable rides in minutes</h5>
    </h1>

    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <h3>Profile<br>
                        <p>By creating an account you will be able to use it for both Uber and UberEATS.</p>
                    </h3>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="firstName" name="lastName" type="text" placeholder="First Name Here..." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="lastName" name="lastName" type="text" placeholder="Last Name Here..." class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input ([ngModel])="phoneNumber" name="phoneNumber" type="tel" placeholder="Phone number Here..." class="form-control" required>
                    </div>
                    <h3>Account<br>
                        <p>By creating an account you will be able to use it for both Uber and UberEATS.</p>
                    </h3>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="email" name="email" type="email" placeholder="Email Here.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="password" name="password" type="password" placeholder="Password Here.." class="form-control" required>
                        </div>
                    </div>
                    <h3>Payment <br>
                        <p>By creating an account you will be able to use it for both Uber and UberEATS.</p>
                    </h3>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="creditCard" name="creditCard" type="type" placeholder="Credit Card Here.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="CVV" name="CVV" type="type" placeholder="CVV Here.." class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input ([ngModel])="expDate" type="Date" name="expDate" placeholder="Expiry Date Here.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="text" ([ngModel])="zipCode" name="zipCode" placeholder="Zip Code Here.." class="form-control" required>
                        </div>
                    </div>
                    <p>By clicking "Sign Up", you agree to Uber's <span>Terms and Conditions</span> and <span>Privacy Policy</span>.</p>
                    <div class="form-group">
                        <p>Already use Uber?<br>
                            <a href="#" style="color: #6CF3A5">Sign In</a></p>
                        <button type="button" class="btn btn-md btn-success">Sign up
                          <span class="glyphicon glyphicon-arrow-right" style="color: white"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>