<div class="container">
  <div class="text-center">
      <h1 class="nice">Partner with us</h1>
  </div>
  <form class="form-horizontal" method="post"
        action="#" autocomplete="on">
      <!-- Text input-->
      <div class="form-group">
         <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                 <input  name="city" type="text" [(ngModel)]="restaurant.city" placeholder="Sandton, South Africa" class="form-control input-md" 
                 autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #city [formControl]="searchControl">
            </div>
         </div>
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
     </agm-map>
      <!-- Email input-->
      <div class="form-group">
         <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input id="email" name="RestName" [(ngModel)]="restaurant.RestName" type="text" placeholder="Restaurant Name"
                        class="form-control input-md">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="zipCode" type="number" [(ngModel)]="restaurant.zipCode" placeholder="Zip or Postal Code (Primary Location)"
                        class="form-control input-md" required="">
                </div>
         </div>
      </div>
      
      <div class="form-group">
          <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="firstName" [(ngModel)]="restaurant.firstName" type="text" placeholder="First Name" class="form-control input-md"
                               required="">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <input name="lastName" [(ngModel)]="restaurant.lastName" type="text" placeholder="Last Name" class="form-control input-md"
                               required="">
               </div>
          </div>
          <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="phoneNumber" type="text" [(ngModel)]="restaurant.phoneNumber" placeholder="Phone number"
                               class="form-control input-md" required="">
                </div>
                 <div class="col-md-6 col-lg-6 col-sm-6">
                     <input name="title" type="text" [(ngModel)]="restaurant.title" placeholder="Your Title" class="form-control input-md"
                                   required="">
                </div>
          </div>
          <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="password" [(ngModel)]="restaurant.password" type="password" placeholder="Password"
                    autocomplete="off" class="form-control input-md" required="">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                        <input name="email" [(ngModel)]="restaurant.email" type="email" placeholder="Email"
                        autocomplete="off" class="form-control input-md" required="">
                    </div>
          </div>
      </div>
      
      <div class="row">
        <div class="form-group">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <select name="numOfLocation" [(ngModel)]="restaurant.numOfLocation" class="form-control">
                    <option value="0">Number of Locations</option>
                    <option value="1">1</option>
                    <option value="2">2-5</option>
                    <option value="6">6-10</option>
                    <option value="11">11-25</option>
                    <option value="25">25+</option>
                </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <select id="selectbasic" name="typeOfCuisine" [(ngModel)]="restaurant.typeOfCuisine" class="form-control">
                    <option value="0">Type of cuisine</option>
                    <option value="African: Ethiopian">African: Ethiopian</option>
                    <option value="Africa: Other">Africa: Other</option>
                    <option value="Alcohol">Alcohol</option>
                    <option value="American">American</option>
                    <option value="Asian Fusion">Asian Fusion</option>
                    <option value="Asian: Other">Asian: Other</option>
                    <option value="Bakery">Bakery</option>
                    <option value="Chinese: Cantonese">Chinese: Cantonese</option>
                    <option value="Chinese: Hot Pot">Chinese: Hot Pot</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                    <select id="selectbasic" [(ngModel)]="restaurant.estweeklyOrder" name="estweeklyOrder" class="form-control">
                            <option value="0">Estimated weekly go-to orders</option>
                            <option value="1">1-10</option>
                            <option value="2">11-25</option>
                            <option value="6">26-50</option>
                            <option value="11">51-100</option>
                            <option value="25">100-500</option>
                            <option value="25">500+</option>
                        </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                    <select [(ngModel)]="restaurant.offerDelivery" name="offerDelivery" class="form-control">
                            <option value="0">Do you currently offer delivery?</option>
                            <option value="1">Yes, we have in-house driver</option>
                            <option value="2">Yes, we use a delivery service</option>
                            <option value="3">No, but planning to offer soon</option>
                            <option value="4">no</option>
                        </select>
            </div>
        </div>
    </div>
      <!-- Button (Double) -->
      <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <button type="submit" class="btn btn-success" [disabled]="loading" (click)="OnSubmit()" style="background-color: #283747" ><i class="fa fa-floppy-o"></i> Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />                           
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <input id="cancel" type="reset" value="Reset" style="background-color: #922B21" name="cancel" class="btn btn-danger">
            </div>
        </div>
       <div class="row">
           <div class="col-lg-6 col-sm-6 col-md-6">
                <a routerLink="/rest-login.html" class="btn btn-link">(Restaurant Only) Sign In</a>
                <p style="font-style:italic">Please we have security issues now, don't register if you're not a Restaurant owner</p>
                <p>After you submit this form, a member of the Uber team will get in touch with you.</p>
           </div>
       </div>
      </div>
  </form>
</div>


