<div class="container-fluid">
    <nav class="navbar navbar-default" style="background-color: WHITE; border: none">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            </div>

            <div class="brand-centered">
                <a class="navbar-brand" href="#"><img style="margin-right: 10px; padding: 0;" src="./assets/images/uber.jpg" alt="Dispute Bills">UberEats
                </a>
            </div>

            <div id="navbar9" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" style="padding-right: 4px"><button class="btn btn-success">Order Now</button></li>
                    <li><button class="btn btn-success">{{ count }}</button></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>