<div class="container-fluid" style="background-color: #17202A;  margin-bottom: 20px">
    <nav class="navbar navbar-default" style="background-color: #808B96; border: none;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            </div>
            <div class="brand-centered">
                <a class="navbar-brand" href="#" style="margin-right: 10px; padding: 0;" src="./assets/images/uber.jpg" alt="Dispute Bills" style="color: white;"><img style=" margin-right: 10px; padding: 0; " src="./assets/images/uber.jpg " alt="Dispute Bills
                    " style="color: white; border: none; width: 150px; height: 120px; margin-top: 3px ">UberEats
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-left ">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active " style="padding-right: 4px "><p style="color:white; margin-top: 9px; padding-right: 10px "><i class="fa fa-user"></i>{{ firstName }} {{ lastName }} </p></li>
                    <li class="active " style="padding-right: 4px "><button class="btn btn-success" (click)="logout()" style="background-color:#212F3D ">Sign Out</button></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>