<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <app-cust-header></app-cust-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-cust-body></app-cust-body>
        </div>
    </div>
    <div class="row" style="margin-top:90px; margin-bottom:10px">
        <div class="col-md-12">
            <div class="parallax" style="background-image: url(' ./assets/images/uberEats.jpg')"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-cust-footer></app-cust-footer>
        </div>
    </div>
</div>