<div class="container-fluid">
    <div class="row" style="background-color: white">
        <div class="col-md-12">
            <header>
                <app-header></app-header>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-main>
            </app-main>
        </div>
    </div>
    <div class="row" style="background-color: #262626;">
        <div class="col-md-12">
            <footer>
                <app-footer>
                </app-footer>
            </footer>
        </div>
    </div>
</div>