<div class="container-fluid">
    <div class="row" style="background-color: white">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <header>
                <app-header></app-header>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <app-main *ngIf="isLogged; else logged">
            </app-main>
        </div>
    </div>
    <div class="row" style="background-color: #262626;">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <footer>
                <app-footer>
                </app-footer>
            </footer>
        </div>
    </div>
</div>

<!--<ng-template #header>
    <app-user-header></app-user-header>
</ng-template>

<ng-template #body>
    <app-customer></app-customer>
</ng-template>-->
<ng-template #logged>
        <app-main-dashboard></app-main-dashboard>
</ng-template>