<div class="row" style="padding-bottom: 20px">
    <div class="col-lg-8">
        <mat-tab-group>
            <div class="row">
                <div class="col-lg-4">
                    <mat-tab label="Selection you want">
                        <img src="./assets/images/IMG_1746+(1).jpg" class="img-responsive img-thumbnail">
                        <p>We're working with over a hundred of the best spots in your city to put the best local food all in one place. If you’re craving it, you can find it on UberEATS.</p>
                    </mat-tab>
                </div>
                <div class="col-lg-4">
                    <mat-tab label="Speed you need">
                        <img src="./assets/images/img_0877.jpg" class="img-responsive img-thumbnail">
                        <p>By tapping into the Uber network, you can get anything from our roster of local restaurants, fast. The average order takes 35 minutes from start to finish.</p>
                    </mat-tab>
                </div>
                <div class="col-lg-4">
                    <mat-tab label="Service you love">
                        <img src="./assets/images/web1_TSR-ubereats-edh-170517.jpg" class="img-responsive img-thumbnail">
                        <p>When you're ready to place your order, you'll see a total that includes the food and delivery price. Pay with your Uber account and track your order on the site as it comes to you.</p>
                    </mat-tab>
                </div>
            </div>
        </mat-tab-group>
        <div class="col-lg-4">

        </div>
    </div>
</div>