<div class="container">
  <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
          <table class="table table-striped" style="margin-top: 10px">
              <thead>
                <tr>
                  <th style="width:10%">Product</th>
                  <th style="width:10%">Quantity</th>
                  <th style="width:10%">Address</th>
                  <th style="width:14%" colspan="2"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedItem of seletedItems">
                  <td> {{ orderHistory.itemName }}</td>
                  <td> R {{ orderHistory.itemPrice }}</td>
                  <td> {{ orderHistory.description }}</td>
                  <td>
                    <button (click)="removeItemInCart(orderHistory.id)" class="btn btn-default">Remove item</button>
                  </td>
                </tr>
              </tbody>
            </table>   
      </div>
  </div>
</div>