<div class="row" style="margin-top: 10px; margin-bottom: 40px">
    <div class="controls">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="btn-controls-group">
                <button class="btn-controls" id="add-user" (click)="addItems()" type="submit" data-toggle="modal" data-target="#add_user_modal">
                    <i class="fa fa-plus"></i> New Product
                </button>
                   <button class="btn-controls" id="print" type="submit"><i class="fa fa-eye"></i> View Products</button>
                <div id="export-control" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="export-option" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-exchange"></i> Export
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-fix" aria-labelledby="dropdownMenu1">
                        <li><a href="#">PDF</a></li>
                        <li><a href="#">Word</a></li>
                        <li><a href="#">Excel</a></li>
                     
                    </ul>
                </div>
                <button class="btn-controls" id="email" type="submit"><i class="fa fa-envelope"></i> Email</button>

            </div>
        </div>
      
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="search-control">
                <input type="search" id="search" name="search" class="search">
                <span id = "mg-glass" class="glyphicon glyphicon-search"></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="row tile_count" id="bgcolor">
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <div class="data-dashboard" id="data-dashboard1">
                    <span class="count_top"><i class="fa fa-user"></i> Accepted Orders</span>
                    <div class="count">2500</div>
                    <span class="count_bottom"><i class="green">4% </i> From last Week</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <div class="data-dashboard" id="data-dashboard2">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Rejected Orders</span>
                    <div class="count">123.50</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <div class="data-dashboard" id="data-dashboard3">
                    <span class="count_top"><i class="fa fa-user"></i> Orders</span>
                    <div class="count green">2,500</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <div class="data-dashboard" id="data-dashboard4">
                    <span class="count_top"><i class="fa fa-user"></i> Total Orders</span>
                    <div class="count green">2,500</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
                </div>
            </div>
        </div>
        <div class="row fency-bg" style="background-color: white">
            <div class="col-lg-4">
                <div class="x_title">
                    <h2>Waiting Orders
                        <a class="data-more pull-right" href="appointment"><i class="fa fa-chevron-right"></i></a>
                    </h2>
                </div>
                <div class="upcoming-appointments">
                    <div class="appointment-preview">
                        <a class="appointment-details" href="#">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Lee-Roy Madella</strong>
                                    </h5>
                                    <p style="margin-bottom: 2px;" class="small text-muted"><i class="fa fa-clock-o"></i> 23 Jan 2017 at 4:32 PM</p>
                                    <p style="margin-bottom: 0px;" class="appointment-desc">Lorem ipsum dolor sit consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="upcoming-appointments">
                    <div class="appointment-preview">
                        <a href="#">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Emmanuel Kgatla</strong>
                                    </h5>
                                    <p style="margin-bottom: 2px;" class="small text-muted"><i class="fa fa-clock-o"></i> 23 Jan 2017 at 4:32 PM</p>
                                    <p style="margin-bottom: 0px;" class="appointment-desc">Lorem ipsum dolor sit consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="upcoming-appointments">
                    <div class="appointment-preview">
                        <a href="#">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>Joseph Sibiya</strong>
                                    </h5>
                                    <p style="margin-bottom: 2px;" class="small text-muted"><i class="fa fa-clock-o"></i> 23 Jan 2017 at 4:32 PM</p>
                                    <p style="margin-bottom: 0px;" class="appointment-desc">Lorem ipsum dolor sit consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="x_title">
                    <h2>Restuarant overview<span class="pull-right" id="stats-viewer"><i class="fa fa-gear"></i></span></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-table">
                            <table class="table table-bordered" id="user-list">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Last name</th>
                                        <th>First name</th>
                                        <th>Email address</th>
                                        <th>Phone number</th>
                                        <th>Address</th>
                                        <th>Suicine type</th>
                                        <th colspan="3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Kgatla</td>
                                        <td>Emmanuel</td>
                                        <td>emmanuel66@live.co.za</td>
                                        <td>062 023 6010</td>
                                        <td>Hurlingham Office park</td>
                                        <td>Chicken</td>
                                        <td><a href="#"><i class="fa fa-arrow-circle-left"></i></a></td>
                                        <td><a class="delete-user" href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Sibiya</td>
                                        <td>Joseph</td>
                                        <td>jose@live.co.za</td>
                                        <td>062 023 6010</td>
                                        <td>Hurlingham Office park</td>
                                        <td>Chicken</td>
                                        <td><a href="#"><i class="fa fa-arrow-circle-left"></i></a></td>
                                        <td><a class="delete-user" href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Madella</td>
                                        <td>Lee-Roy</td>
                                        <td>roy@live.co.za</td>
                                        <td>062 023 6010</td>
                                        <td>Hurlingham Office park</td>
                                        <td>Chicken</td>
                                        <td><a href="#"><i class="fa fa-arrow-circle-left"></i></a></td>
                                        <td><a class="delete-user" href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
