<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <p><strong style="font-size: x-large;">
              Selection you want
            </strong></p>

            <p>
                We're working with over a hundred of the best spots in your city to put the best local food all in one place. If you’re craving it, you can find it on UberEATS.
            </p>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <p><strong style="font-size: x-large;">
              Speed you need
              </strong></p>

            <p>
                By tapping into the Uber network, you can get anything from our roster of local restaurants, fast. The average order takes 35 minutes from start to finish.
            </p>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <p><strong style="font-size: x-large;">
              Service you love
              </strong></p>

            <p>
                When you're ready to place your order, you'll see a total that includes the food and delivery price. Pay with your Uber account and track your order on the site as it comes to you.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom:40px;">
        <div class="col-sm-7">
            <p style="font-size: small;">
                <strong style="font-size: large; ">Crave. Tap. Enjoy.</strong> <br><br>With the UberEATS app, your favorite local restaurants are always a tap away.<br><br> <strong style="font-size: large; ">DOWNLOAD THE APP</strong>
            </p>
            <p style="color: #2E86C1">
                Google Play and App Store
            </p>
        </div>
        <div class="col-sm-5">
            <button class="btn btn-md btn-default">ORDER NOW</button>
        </div>
    </div>
</div>