<nav class="navbar navbar-default" #navigator role="navigation" style="border: none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/home.html" routerLinkActive="is-active" style="letter-spacing: 2px;"><strong style="color: black">UBER</strong> <strong style="color: #58D68D">EATS</strong></a>
                </div>
                <ul class="nav navbar-nav" *ngIf="!isLogged; else isLoggedList">
                    <li class="active">
                        <a routerLink="/login.html" class="btn btn-md btn-default">Sign In</a>
                    </li>
                    <li>
                        <a routerLink="/register.html" class="btn btn-md btn-default" style="background-color:black; color:white">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!isLogged">
        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="padding-top: 50px ">
                <div class="title ">
                    <p style="font-size: 36px; color: #262626; line-height: 48px; font-family: ClanPro-News, Helvetica, sans-serif; padding-bottom: 20px ">Find restaurants that deliver near you</p>
                </div>
                <div class="search">
                    <form method="post ">
                        <div class="input-group " style="height: 50px">
                            <span class="input-group-addon " style="background-color: white "><i  class="glyphicon glyphicon-map-marker "></i></span>
                            <input style="height: 50px;border-left: none;" placeholder="Find restaurants that deliver near you" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                            <span class="input-group-btn ">
                              <button class="btn btn-success"  style="height: 50px; margin-left: 9px" type="submit">
                                 <i class="fa fa-spinner fa-spin" style="font-size: 25px"></i>
                              </button>
                            </span>
                        </div>
                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                        </agm-map>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<ng-template #isLoggedList>
        <ul class="nav navbar-nav navbar-right">
            <li class="active " style="padding-right: 4px "><p style="color:black; margin-top: 9px; padding-right: 10px "><i style="color:black;padding-right: 4px" class="fa fa-user"></i>{{ firstName }} {{ lastName }}</p></li>
            <li class="active " style="padding-right: 4px "><button class="btn btn-success" (click)="logout()" style="background-color:#212F3D ">Sign Out</button></li>
        </ul>
</ng-template>