<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="letter-spacing: 2px;"><strong style="color: black">UBER</strong> <strong style="color: #58D68D">EATS</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#" class="btn btn-md btn-default">Sign In</a>
            </li>
            <li>
                <a href="#" class="btn btn-md btn-default" style="background-color:black; color:white">Register</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding-top: 50px">
                <div class="title">
                    <p style="font-size: 36px; color: #262626; line-height: 48px; font-family: ClanPro-News, Helvetica, sans-serif; padding-bottom: 20px">Find restaurants that deliver near you</p>
                </div>
                <div class="search">
                    <form method="post">
                        <div class="input-group" style="height: 50px">
                            <span class="input-group-addon" style="background-color: white"><i  class="glyphicon glyphicon-map-marker"></i></span>
                            <input style="height: 50px;border-left: none;" type="search" class="form-control" name="search" placeholder="Enter your delivery address">
                            <span class="input-group-btn">
                              <button class="btn btn-success" style="height: 50px; margin-left: 9px" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>