body {
    font: normal 300 .8em 'Open Sans', sans-serif;
    overflow-x: hidden;
}

nav {
    height: 350px;
    width: 100%;
    background: white;
    box-shadow: 0px 10px 5px #F4F6F6;
}

nav.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav .navbar-header {
    margin-top: 30px;
}

nav .navbar-nav {
    float: right;
    margin-top: 30px;
}

nav .navbar-nav li {
    padding: 5px;
    border-radius: 0px;
}

nav .navbar-nav li:hover {
    opacity: 0.8;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 94px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}