<div class="container">
    <div class="row">
        <div class="col-lg-7 col-sm-7 col-md-7">
            <h1 style="padding-bottom: 19px">Choose your favourite meal...</h1>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <ul *ngFor="let onlineCart of cartItems">
                        <li>
                            <div class="panel panel-default ">
                                <div class="panel-body ">
                                    {{ onlineCart.shopName }}
                                </div>
                                <div class="panel-footer ">
                                    <div class="row ">
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <img src="./assets/images/uber.jpg " alt="Uber Eats ">
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <h3><strong>
                                                  Item Name: {{ onlineCart.itemName }}
                                                </strong></h3>
                                            <h5><strong>
                                                  Item Price: R {{ onlineCart.itemPrice }}
                                                </strong></h5>
                                            <p>
                                                <p>{{ onlineCart.description }}
                                                </p>
                                                <button type="button" style="margin-bottom: 3px; background-color: #196F3D" class="btn btn-success" (click)="addItemInCart(onlineCart.id)">Add to Cart</button>
                                                <button type="button" style="background-color: #943126" *ngIf="isEnabled" (click)="removeItemInCart(onlineCart.id)" class="btn btn-success ">Remove item from cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-5 col-md-5">
            <h3>Your shopping Basket</h3>
            <h5>Sub Total ({{ numCartItems }} items): R {{ subTotalAmt }}</h5>
            <br>
            <br>
            <button style="width: 100%; margin-bottom: 17px; background-color: #515A5A" (click)="orderItems()" type="button" class="btn btn-success">Checkout or Order Now</button>
            <br>
            <p style="text-align: center; font-size: large">Or</p>
            <br>
            <button type="button" style="width: 100%; background-color: #283747" (click)="EmptyCart()" class="btn btn-success">Empty shopping basket</button>

            <div *ngIf="seletedItems.length <= 0">
                <h3 class="text-center">No items in the Cart!</h3>
            </div>
            <table class="table table-striped" *ngIf="seletedItems.length > 0" style="margin-top: 10px">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th colspan="2">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let selectedItem of seletedItems">
                    <td> {{ selectedItem.itemName }}</td>
                    <td> R {{ selectedItem.itemPrice }}</td>
                    <td> {{ selectedItem.description }}</td>
                    <td>
                      <button (click)="removeItemInCart(selectedItem.id)" class="btn btn-default">Remove item</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>