<div class="container">
    <div class="row" style="margin-bottom: 40px">
        <div class=" col-sm-4">
            <p style="font-size: x-large;">How UberEATS works</p>
            <p>UberEATS is the easy way to get the food you love delivered.</p>
        </div>
        <div class="col-sm-8" style="height: 300px">
            <div class="embed-responsive embed-responsive-16by9 ">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0 " allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>