p {
    padding-left: 12px;
    color: #808B96;
    font-family: ClanPro-News, Helvetica, sans-serif;
    line-height: 21px;
    font-size: large;
    letter-spacing: 2px;
    padding-top: 20px;
    background: transparent;
}

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    iframe {
        height: 350px;
    }
}