<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User login</li>
        </ol>
    </nav>
    <div class="wrapper">
        <form action="" method="post"  name="Login_Form" class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h3 class="form-signin-heading">UberEats. Please Sign In</h3>
            <hr class="colorgraph"><br>
            <div class="form-group">
                    <input type="email" class="form-control" style="margin-bottom: 4px; margin-top: 6px" [(ngModel)]="driver.email" name="email" placeholder="Email" #email="ngModel" required />                    
            </div>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
            <div class="form-group">
                    <input type="password" class="form-control" name="password" [(ngModel)]="driver.password" placeholder="Password" #password="ngModel" required />                    
            </div>
             <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
           
                <button class="btn btn-lg btn-primary btn-block" name="Submit"  type="Submit">Login</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />                
                <a id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</a>
             <a routerLink="/register.html" class="btn btn-link">Register</a>
        </form>
    </div>
</div>