/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

header {
    border: none;
}

li {
    list-style: none;
    margin: 0px;
}

ul {
    display: block;
}

a:hover {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
 :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 979px) {
    .navbar .brand,
    .nav-collapse {
        display: block;
    }
}