ul {
    display: inline-block;
}

ul li {
    padding-bottom: 15px;
}

ul li a {
    padding-left: 12px;
    color: #FFFFFF;
    /**font-family: ClanPro-News, Helvetica, sans-serif;**/
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    background: transparent;
}

ul li p {
    padding-left: 12px;
    color: #FFFFFF;
    font-family: ClanPro-News, Helvetica, sans-serif;
    line-height: 21px;
    font-size: x-small;
    letter-spacing: 2px;
    font-weight: 100;
    background: transparent;
}

ul li a:hover {
    padding-left: 4px;
    text-decoration: none;
    opacity: 0.8;
    animation: none;
}