<div class="container-fluid" style="background-color: #262626;">
    <div class="row">
        <div class="col-md-12 col-md-offset-2" style="padding-top: 30px ; border-bottom: 2px solid gray">
            <p style="letter-spacing: 2px;"><strong style="color: black; font-size: large">UBER</strong> <strong style="color: #58D68D">EATS</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
                    <!--<ul class="dropdown-menu">
                        <li><a href="#">Azarbaycan</a></li>
                        <li><a href="#">Deutsch</a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">English (British)</a></li>
                        <li><a href="#">Siswati</a></li>
                    </ul>-->
                </li>
                <li><a href="#">#UberEats</a></li>
                <li class="social-networks">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
    </div>
</div>