

<div class="container">
    <div class="row">
      <div class="span12">
        <form class="form-horizontal span6">
          <fieldset>
            <legend><h2><strong>Welcome to our checkout.</strong></h2></legend>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                       <div class="tab-content">
                         <div id="stripe" class="tab-pane fade in active">
                           <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                             <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                                 <br>
                                <!---<div class='form-row'>
                                    <div class='form-group required'>
                                        <div class='error form-group hide'>
                                            <div class='alert-danger alert'>
                                            Please correct the errors and try again.
                                        
                                            </div>
                                        </div>
                                        <label class='control-label'>Name on Card</label>
                                        <input class='form-control' size='4' type='text' placeholder="Name on Card">
                                    </div>
                                </div>-->
                                <div class='form-row'>
                                    <div class='form-group card required'>
                                        <label class='control-label'>Credit Card Number</label>
                                        <input autocomplete='off' [(ngModel)]="creditCard" name="creditCard" class='form-control card-number' size='20' type='text' readonly>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='form-group card required'>
                                            <label class='control-label'>Delivery Address</label>                                            
                                        <div class="search">
                                            <form method="post ">
                                                    <input placeholder="Delivery Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                                                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                                        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                                </agm-map>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='form-group cvc required'>
                                        <label class='control-label'>CVV</label>
                                        <input autocomplete='off' [(ngModel)]="CVV" name="CVV" class='form-control card-cvc' placeholder='ex. 311' size='4' type='text' readonly>
                                    </div>
                                    <div class='form-group expiration required'>
                                        <label class='control-label'>Expiry Date</label>
                                        <input class='form-control card-expiry-month' [(ngModel)]="expiryDate" name="expiryDate" type="text" readonly>
                                    </div>
                                </div>
                        
                            
                                <div class='form-row'>
                                    <div class='form-group'>
                                                <label class='control-label'></label>
                                    </div>
                                </div>
                                <button style="margin-bottom: 20px" class="form-control btn btn-primary" (click)="confirmCheckout()" type="submit"> Continue →</button>
                           </form>    
                         </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                         <label class='control-label'></label><!-- spacing -->
                         <div class="alert alert-info">Please choose your method of payment and hit continue. You will then be sent down to pay using your selected payment option.</div>
                        <br>
                          <div class="btn-group-vertical btn-block">
                               <button class="btn btn-default" style="text-align: left;" data-toggle="tab"><i class="fa fa-credit-card" aria-hidden="true"></i> Credit Card</button>
                               <a class="btn btn-default"  style="text-align: left;" data-toggle="tab" target="_blank"
                               href="https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3fcmd%3d_account"><i class="fa fa-paypal" aria-hidden="true"></i> PayPal</a>
                          </div>
                           
                           <br><br><br>
                          
                          <div class="jumbotron jumbotron-flat">
                              <div class="center"><h2><i>BALANCE DUE:</i></h2></div>
                              <div class="paymentAmt">{{ total | currency:'ZAR':true:'1.2-2' }}</div>
                         </div>
                   </div>
               </div>
            </div>
           </fieldset>
        </form>
      </div>
    </div>
  </div>

  