<div class="row" style="padding-bottom: 20px;">
  <div class="col-lg-12">
      <mat-tab-group>
          <div class="row">
              <div class="col-lg-6">
                  <mat-tab label="History Orders">
                      <app-order></app-order>
                  </mat-tab>
              </div>
              <div class="col-lg-6">
                  <mat-tab label="Upcoming Orders">
                     <app-upcoming-orders></app-upcoming-orders>
                  </mat-tab>
              </div>
          </div>
      </mat-tab-group>
  </div>
</div>