<div class="container" style="margin-top:120px;">
	<div class="row">
		<!-- Title -->
		<ol class="breadcrumb"><li><a href="#">Checkout</a></li><li><a href="#">Shopping Cart</a></li> </ol>
	</div>
	<div class="row product-row">
		<!-- Products-->
		<div class="col-xs-12 col-sm-7">
			<div class="media">
				<a class="pull-left" href="#"><img class="img-responsive" src="https://cdn.awardchoice.com/assets/ac/RC/SM/WyBwviPGnlXgJLFReMcE.jpg"></a>
				<div class="media-body">
					<h4 class="media-heading">Freshwater Cultured Pearl Set.</h4>
					<p class="text-muted">18 inch ringed potato shape freshwater pearl necklace has secure lobster claw.  Matching 7 inch stretch bracelet and fish hook style drop earrings  complete the set.  Rhodium finish.  ANC331</p>
				</div>
			</div>		
		</div>
		<div class="col-xs-12 col-sm-3">
			<b>Quanity:</b> 2
          <br>
			<b>Total:</b> 1600 Points
		</div>
		<div class="col-xs-12 col-sm-2">
			<div class="btn-group" role="group" aria-label="..." style="margin-top:10px;">
				<button type="button" class="btn btn-default btn-danger"><span class="fa fa-close"></span>&nbsp;Remove</button>
			</div>
		</div>
	</div>

	<div class="row product-row">
		<!-- Products-->
		<div class="col-xs-12 col-sm-7">
			<div class="media">
				<a class="pull-left" href="#"><img class="img-responsive" src="https://cdn.awardchoice.com/assets/ac/RC/SM/KuMnGUdPifEyokCDnFrj.jpg"></a>
				<div class="media-body">
					<h4 class="media-heading">Camelbak 20oz Bottle.</h4>
					<p class="text-muted">Flip, Bite and Sip. BPA-Free and spill-proof eddy Bottle makes it easy to stay hydrated on the go. Fits in most cup holders and is dishwasher safe. ARXA33</p>
				</div>
			</div>		
		</div>
		<div class="col-xs-12 col-sm-3">
			<b>Quanity:</b> 1
          <br>
			<b>Total:</b> 450 Points
		</div>
		<div class="col-xs-12 col-sm-2">
			<div class="btn-group" role="group" aria-label="..." style="margin-top:10px;">
				<button type="button" class="btn btn-default btn-danger"><span class="fa fa-close"></span>&nbsp;Remove</button>
			</div>
		</div>
	</div>
  <div class="row" style="text-align:center;margin-top:15px;">
		<b>Total Points In Cart:</b> 2050
	</div>
  <div class="row" style="margin-bottom:15px">
    	<div class="col-xs-12">
			<div class="btn-group pull-right" role="group" aria-label="..." style="margin-top:10px;">
				<button type="button" class="btn btn-default btn-info"><span class="fa fa-arrow-left"></span>&nbsp;Back to Products</button>
				<button type="button" class="btn btn-default btn-success" (click)="checkout()"><span class="fa fa-shopping-cart"></span>&nbsp;Checkout</button>
			</div>
		</div>
  </div>

</div>
